<div class="banner-profile" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1499781350541-7783f6c6a0c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=945&q=80);">
  <div class="">
    <div class="text-center">
      <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="" class="avatar-profile">
      <p class="mt-2"><%= @user.username %></p>
      <p class="mt-2">bio<%= @user.bio %></p>
      <p class="mt-2">url<%= @user.personal_url %></p>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-end">
  <%= link_to 'Create art', new_art_path, class:'btn profile-create mt-5 mb-5'%>
</div>

<div class="container container-profile mb-5">

  <div class="profile-section">
    <h3>My arts</h3>
      <div class="">
        <% if @user.arts.exists? %>
          <% @arts.each do |art| %>
            <div class="card mt-4" style="width: 18rem;">
              <img src="https://cdn.pixabay.com/photo/2017/08/30/12/45/girl-2696947_960_720.jpg"/>
              <div class="card-body">
                <div class="card-title">
                  <h5><%= art.title  %></h5>
                  <p class="card-text"> <%= art.user.username %> </p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>No arts created yet.</p>
        <% end %>
      </div>
    </div>

</div>
