<div class="banner-profile" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1499781350541-7783f6c6a0c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=945&q=80);">
  <div class="">
    <div class="text-center">
      <img src="https://ca.slack-edge.com/T02NE0241-UNXJTPBK3-2ba6b53335a4-512" alt="" class="avatar-profile mb-2">
      <h2 class="mt-3"><%= @user.username %></h2>
      <p class="mt-3">I am an painter inspired by the light<%= @user.bio %></p>
      <p class="mt-3">www.mrmichielsen.co.uk<%= @user.personal_url %></p>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-end">
  <%= link_to 'Create art', new_art_path, class:'btn profile-create mt-5 mb-5'%>
</div>

<div class="container container-profile mb-5">

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Arts</a>
      <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Bids</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="profile-section ml-4">
        <h3 class="mb-5 mt-3">My Arts</h3>
        <div class="d-flex justify-content-around row">
            <% if @user.arts.exists? %>
              <% @user.arts.each do |art| %>
                <div class="card-art mr-5">

                <% if art.auction_end_time && (art.auction_end_time - Time.current > 0)  %>
                  <h4>In Auction</h4>
                <% end %>

                <% if art.photo.attached? %>
                  <%= cl_image_tag art.photo.key, height: 300, width: 400, crop: :fill %>
                <% else  %>
                  <img src="https://cdn.pixabay.com/photo/2017/08/30/12/45/girl-2696947_960_720.jpg" />
                <% end %>
                  <div class="card-art-infos">
                    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-art-user avatar-bordered" />
                    <div>
                      <h2 class="card-title"><%= art.title %></h2>
                      <p class="card-text"> <%= art.user.username %> </p>
                    </div>
                  </div>
                </div>
                <% end %>
            <% else %>
              <p>No arts yet.</p>
            <% end %>
          </div>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <% artworks = @user_bids.map do |bid| %>
        <% Art.find(bid.art_id) %>
      <% end %>
      <div class="profile-section ml-4">
        <h3 class="mb-5 mt-3">My Bids</h3>
        <div class="d-flex justify-content-around row">
          <% artworks.each do |art| %>
            <%= link_to art do %>
              <div class="card-art mr-4">
                <% if art.photo.attached? %>
                  <%= cl_image_tag art.photo.key, height: 300, width: 400, crop: :fill %>
                <% else  %>
                  <img src="https://cdn.pixabay.com/photo/2017/08/30/12/45/girl-2696947_960_720.jpg" />
                <% end %>
                <div class="card-art-infos">
                  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-art-user avatar-bordered" />
                  <div>
                    <h2 class="card-title"><%= art.title %></h2>
                    <p class="card-text"> <strong>Price: €<%= art.bid.amount %></strong></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
