<div class="banner">
  <div class="container">
  <video autoplay loop muted class="banner__video" poster="https://mixkit.imgix.net/videos/preview/mixkit-abstract-psychedelic-texture-in-motion-red-and-white-tones-12309-0.jpg?q=80&auto=format%2Ccompress">
    <source src="https://assets.mixkit.co/videos/preview/mixkit-abstract-psychedelic-texture-in-motion-red-and-white-tones-12309-large.mp4" type="video/webm">
  </video>
    <div class="d-flex">
      <div>
        <h2 class = "home-title"><strong>From Fine Art to NFTs</strong> <br> An investment avenue for Artists & Investors alike</h2>
        <h4 class = "home-subtitle"> Be part of the NFT revolution, buy your OURTPIECE today!</h4>
        <div class="inline-block">
          <%= link_to "Explore", arts_path, class: "home-explore mr-3" %>
          <%= link_to "Create", new_art_path, class: "home-create mr-3" %>
        </div>
      </div>
        <div>
          <div class="card-art">
            <img src="https://cdn.pixabay.com/photo/2017/08/30/12/45/girl-2696947_960_720.jpg" />
            <div class="card-art-infos">
              <img src="https://avatars.githubusercontent.com/u/88554240?v=4" class="card-art-user avatar-bordered" />
              <div>
                <h2>Rainbow Look</h2>
                <p>alex magalhaes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<div class ="container">
  <h2 class="value-prop-title text-center mb-3">Collect, Buy & Sell: The Process</h2>
    <div class="value-prop-cards">
      <div class="value-prop-card">
        <img src="https://cdn-icons-png.flaticon.com/512/2039/2039060.png">
        <h4><strong>Sign Up</strong></h4>
        <p>Simple Process: <br> 1. Complete account details <br> 2. Link your Crypto Wallet<br>3. Wait for verification !</p>
      </div>
      <div class="value-prop-card">
        <img src="https://cdn-icons.flaticon.com/png/512/1911/premium/1911209.png?token=exp=1638113523~hmac=313c4aa04b27a4724b56fa5e012ae505">
        <h4><strong>For Ourtists</strong></h4>
        <p>Increased Exposure ! <br> Upload your OurtPiece - List it as an auction or regular sale!</p>
      </div>
      <div class="value-prop-card">
        <img src="https://cdn-icons-png.flaticon.com/512/4334/4334582.png">
        <h4><strong>For Ourt Collectors & Investors</strong></h4>
        <p>New Investment Avenue! <br> Explore all Ourtists - Bid on Ourt or purchase now!</p>
      </div>
    </div>
</div>
<br>
<br>
<br>

<div class="container">
  <h2 class="text-center mb-5">Filter By Category</h2>
  <div class="d-flex justify-content-center">
    <div class="col-3">
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://artlogic-res.cloudinary.com/w_2400,h_1800,c_limit,f_auto,fl_lossy,q_auto:good/ws-unitlondon3/usr/images/blog_entries/hero_image/113/andy-micket.jpg)">
          Contemporary
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.detail-online.com/fileadmin/blog/uploads/2013/05/02-cloud.jpg)">
        Installation
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
          <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://doagahehoc242.cloudfront.net/uploads/posts/619/c9b98b2a_17-klara-kristalova-copia.jpg)">
          Sculpture
        </div>
      <% end %>
    </div>
    <div class="col-3">
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.squarespace-cdn.com/content/v1/605a0a091c4fe4160e55b1a8/1618584555519-7CPEGGLADPQ5F8G11CSF/tempImagexaOhdo.png?format=1000w)">
          Painting
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://ndawards.net/upload/images/1487869807x611yimg_2051.jpg)">
          Photography
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.squarespace-cdn.com/content/v1/605a0a091c4fe4160e55b1a8/1617807185657-AYFGYKCJ7JT6167C3C3A/DCFB85CB-BC11-45CE-ACE4-DF530944659D.jpg?format=2500w)">
          Collage
        </div>
      <% end %>
    </div>
    <div class="col-3">
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
          <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.tate.org.uk/sites/default/files/styles/width-420/public/egon_schiele_standing_male_figure_self-portrait_1914_6.jpg)">
          Drawing
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://s3.amazonaws.com/sfc-datebook-wordpress/wp-content/uploads/sites/2/2019/06/68387008_DATEBOOK_MERca351ee064b9b8aba9fcf1b52c045AQUISITION0629_folo-856x1024.jpg)">
          Mixed Medium
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.invaluable.com/blog/wp-content/uploads/2017/03/Invaluable_Japanese_Buying_Guide-1489513498298.jpg)">
          Antiques
        </div>
      <% end %>
    </div>
  </div>
</div>
