<div class="banner">
  <div class="container">
  <video autoplay loop muted class="banner__video" poster="https://mixkit.imgix.net/videos/preview/mixkit-abstract-psychedelic-texture-in-motion-red-and-white-tones-12309-0.jpg?q=80&auto=format%2Ccompress">
    <source src="https://assets.mixkit.co/videos/preview/mixkit-abstract-psychedelic-texture-in-motion-red-and-white-tones-12309-large.mp4" type="video/webm">
  </video>
    <div class="d-flex justify-content-between">
      <div>
        <h1>Be part of the NFT revolution, buy your OURTPIECE today!</h1>
        <div class="inline-block">
          <%= link_to "Explore", arts_path, class: "home-explore mr-3" %>
          <%= link_to "Create", new_art_path, class: "home-create mr-3" %>
        </div>
      </div>
        <div>
          <div class="card-art">
            <img src="https://cdn.pixabay.com/photo/2017/08/30/12/45/girl-2696947_960_720.jpg" />
            <div class="card-art-infos">
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-art-user avatar-bordered" />
              <div>
                <h2>Title</h2>
                <p>username</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>

<div class="container">
  <h1 class="text-center mb-5">Filter by category</h1>
  <div class="d-flex justify-content-center">
    <div class="col-3">
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://assets.phillips.com/image/upload/t_Website_LotDetailMainImage/v1/auctions/NY010314/25_001.jpg)">
          Contemporary
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.detail-online.com/fileadmin/blog/uploads/2013/05/02-cloud.jpg)">
        Installation
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
          <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://image-cdn.artland.com/eyJidWNrZXQiOiJhcnRsYW5kLXVwbG9hZHMiLCJrZXkiOiJnYWxsZXJpZXMvY2tnMHh5MnY1M201YTA3NjljZGk1bmt4bC9hcnR3b3Jrcy9ja2c5NWw1dmQwMDF4MmV5dGJqaTdmc2gyLzU4YzEwODlkLTViMGMtNDY4Mi1hNTk4LTg2MmMwNzc4NmRkMi5qcGciLCJlZGl0cyI6eyJqcGVnIjp7InF1YWxpdHkiOjgwfSwicm90YXRlIjpudWxsLCJyZXNpemUiOnsid2lkdGgiOjMwMDAsImhlaWdodCI6MzAwMCwiZml0IjoiaW5zaWRlIn19fQ==)">
          Sculpture
        </div>
      <% end %>
    </div>
    <div class="col-3">
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.booooooom.com/wp-content/uploads/2020/05/Hungry-Hoard_Emilia-Auersperg-600x503.jpg)">
          Painting
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://ndawards.net/upload/images/1487869807x611yimg_2051.jpg)">
          Photography
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.squarespace-cdn.com/content/v1/605a0a091c4fe4160e55b1a8/1617807185657-AYFGYKCJ7JT6167C3C3A/DCFB85CB-BC11-45CE-ACE4-DF530944659D.jpg?format=2500w)">
          Collage
        </div>
      <% end %>
    </div>
    <div class="col-3">
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
          <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
          Photorealism
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
          category
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
          category
        </div>
      <% end %>
    </div>
  </div>
</div>
