<div class="banner">
  <div class="container">
  <video autoplay loop muted class="banner__video" poster="https://mixkit.imgix.net/videos/preview/mixkit-abstract-psychedelic-texture-in-motion-red-and-white-tones-12309-0.jpg?q=80&auto=format%2Ccompress">
    <source src="https://assets.mixkit.co/videos/preview/mixkit-abstract-psychedelic-texture-in-motion-red-and-white-tones-12309-large.mp4" type="video/webm">
  </video>
    <div class="d-flex justify-content-between">
      <div>
        <h1>Be part of the NFT revolution, buy your OURTPIECE today!</h1>
        <div class="inline-block">
          <%= link_to "Explore", arts_path, class: "btn btn-dark mr-3" %>
          <%= link_to "Create", new_art_path, class: "btn btn-primary mr-3" %>
        </div>
      </div>
      <div>
        <h2 class="p-5" style="background-color: white">card</h2>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>

<div class="container">
  <h1 class="text-center mb-5">Filter by category</h1>
  <div class="d-flex justify-content-center">
    <div class="col-3">
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
          category
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
          category
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
          <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
          category
        </div>
      <% end %>
    </div>
    <div class="col-3">
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
          category
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
          category
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
          category
        </div>
      <% end %>
    </div>
    <div class="col-3">
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
          <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
          category
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
          category
        </div>
      <% end %>
      <%= link_to arts_path(utf8: "✓" , :query => "category", button: ""), style: "text-decoration: none;" do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
          category
        </div>
      <% end %>
    </div>
  </div>
</div>
