<div style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/flagged/photo-1572392640988-ba48d1a74457?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80); height:100%">
  <h1 class="text-center new-page-title p-5 text-white">Create your OurtPiece now</h1>
  <br>
  <div class="mb-5 container card-new-art justify-content w-50">
      <div class="row">
        <div class="col-sm-12">
          <%= simple_form_for @art do |f| %>
            <%= f.input :title, label_html: { class:"text-input-white"} %>
            <%= f.input :creator, label_html: { class:"text-input-white"} %>
            <%= f.input :description, label_html: { class:"text-input-white"} %>
            <%= f.input :category, label_html: { class:"text-input-white"}%>
            <%= f.input :measurements, label_html: { class:"text-input-white"} %>
            <%= f.input :photo, label_html: { class:"text-input-white"}, as: :file %>
            <%= f.input :starting_price, label: "Listing Price",label_html: { class:"text-input-white"} %>
            <%= f.input :is_for_auction, label: "Auction or Sale", label_html: { class:"text-input-white"}, as: :radio_buttons, collection: [['Auction', "1"], ['Sale', "0"]] %>
            <%= f.input :auction_end_time, label_html: { class:"text-input-white"} %>
            <%= f.submit class: 'profile-create' %>
          <% end %>
        </div>
    </div>
  </div>
