<div class="show-body">
  <div class= "show-container">
    <%= image_tag "PaintingNoor.jpg" %>
    </div>
    <div class= "show-text-container">
      <h3 class="art-title"> <strong> Title:</strong> <%= @art.title %></h3>
      <p class="showpage-texts"> <strong> Creator:</strong> <%= @art.creator %></p>
      <p class="showpage-texts"><strong>Category:</strong> <%= @art.category %></p>
      <p class="showpage-texts"><strong>Measurements:</strong> <%= @art.measurements %></p>
      <p class="showpage-texts"><strong> Price: </strong>€ <%= @art.starting_price %></p>
      <br>
    </div>

<% if @art.is_for_auction == true %>
  <%= render partial: 'shared/auction_card' %>
<% end %>

</div>
