<div class="banner-show-1">
  <div class="container">
      <h3 class="text-center text-white"><%= @art.title %></h3>
      <p class="text-center text-white"><%= @art.creator %></p>
  </div>
</div>

<div class="banner-show-2">
  <div class="container">
    <div class="d-flex">
      <div>
      <h2 class="featured-title mb-4">Ourt Specs</h2>
      <p class="showpage-texts"><strong>Description:</strong>
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      <p class="showpage-texts"><strong>Category:</strong> <%= @art.category %></p>
      <p class="showpage-texts"><strong>Measurements:</strong> <%= @art.measurements %></p>
      <% if @art.is_for_auction == true %>
        <button type="button" class="home-explore" data-toggle="modal" data-target="#exampleModal">Place a bid</button>
        <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Bid now!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render partial: "bids/form", locals: {bid: Bid.new, art: @art} %>
                </div>
              </div>
            </div>
          </div>

      <% else  %>
        <button type="button" class="home-explore" data-toggle="modal" data-target="#exampleModal">Purchase Ourtwork</button>
        <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Buy now!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render partial: "transactions/form", locals: {transaction: Transaction.new, art: @art} %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      </div>
      <div class="ml-5">
      <% if @art.photo.attached? %>
        <%= cl_image_tag @art.photo.key%>
      <% else  %>
        <img src="https://cdn.pixabay.com/photo/2017/08/30/12/45/girl-2696947_960_720.jpg" />
      <% end %>
      </div>
    </div>
  </div>
</div>

<% if @art.is_for_auction == true %>
  <div class="container table-show mb-5">
    <h2 class="featured-title text-center mb-2">Current Bids</h2>
    <p id="demo" class="text-center mb-5"></p>
    <% if @art.auction_end_time %>
      <p class="auction-end text-center mb-5"><%= @art.auction_end_time  %></p>
    <% end %>
    <table class="mt-4">
    <tr>
      <th>Username</th>
      <th>Date/Time</th>
      <th>Amount</th>
    </tr>
    <tr>
      <div class="bids"
        data-controller="art-subscription"
        data-art-subscription-art-id-value="<%= @art.id %>">
      <% @art.bids.each do |bid| %>
        <%= render "bids/bid", bid: bid %>
      <% end %>
    </tr>
    </table>
  </div>
<% end %>
