<div class="banner-show-1">
  <div class="container">
      <h3 class="text-center text-white"><%= @art.title %></h3>
      <p class="text-center text-white"><%= @art.creator %></p>
  </div>
</div>

<div class="banner-show-2">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div>
      <h2 class="featured-title mb-4">Ourt Specs</h2>
      <p class="showpage-texts"><strong>Description: </strong><%= @art.description %></p>
      <p class="showpage-texts"><strong>Category:</strong> <%= @art.category %></p>
      <p class="showpage-texts"><strong>Measurements:</strong> <%= @art.measurements %></p>
      <p class="showpage-texts"><strong>Price: €</strong> <%=  @art.starting_price %></p>
      <% if @art.is_for_auction == true %>
        <button type="button" class="show-action" data-toggle="modal" data-target="#exampleModal">Place a bid</button>
        <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Bid now!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render partial: "bids/form", locals: {bid: Bid.new, art: @art} %>
                </div>
              </div>
            </div>
          </div>

      <% else  %>
        <button type="button" class="show-action" data-toggle="modal" data-target="#exampleModal">Purchase Ourtwork</button>
        <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Buy now!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render partial: "transactions/form", locals: {transaction: Transaction.new, art: @art} %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      </div>
      <div class="ml-5">
      <% if @art.photo.attached? %>
        <%= cl_image_tag @art.photo.key%>
      <% else  %>
        <img src="https://cdn.pixabay.com/photo/2017/08/30/12/45/girl-2696947_960_720.jpg" />
      <% end %>
      </div>
    </div>
  </div>
</div>

<% if @art.is_for_auction == true %>
  <div class="container table-show mb-5">
    <h2 class="featured-title text-center mb-2">Current Bids</h2>
    <p id="demo" class="text-center mb-5"></p>
    <% if @art.auction_end_time %>
      <p class="auction-end text-center mb-5"><%= @art.auction_end_time  %></p>
    <% end %>
    <div class="bid-container">
      <div class="bid-headers">
        <h3>Username</h3>
        <h3>Date/Time</h3>
        <h3>Amount</h3>
      </div>

      <div class="bid-amounts">
        <div class="bids" data-controller="art-subscription" data-art-subscription-art-id-value="<%= @art.id %>">
          <% @art.bids.reverse.each do |bid| %>
            <%= render "bids/bid", bid: bid %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
